<article class="flex w-100 justify-between border-b py-4">
  <div class="flex items-center">
    <img
      alt="user-image"
      src="https://sams-finance-app.onrender.com/assets/overview/emma.svg"
    />
    <p class="font-bold px-3  tracking-wide text-sm"
    >
      Emma Richardson
    </p>
  </div>
  <div class="flex flex-col gap-100">
    <p
     
      class="text-green-800 text-sm font-bold"
    >
      +$75.50
    </p>
    <p class="text-xs pt-3">
      19 Aug 2024
    </p>
  </div>
</article>